.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D1A684;
    padding: 20px 40px;
  }
  
  .header-logo-img {
    height: 50px;
  }

  .nav a {
    color: white;
    margin: 0 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
  }
  
  .nav a:hover {
    text-decoration: none;
    transform: scale(1.25rem);
  }
  