* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html, .App {
    background-color: #D1A684;
    font-family: Arial, sans-serif;
    color: #4A403A;
    height: 100%;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }